@import url('./Bootstrap.css');
@import url('./admin/components/css/Themtaikhoan.css');
.custom-sider {
    background-color: white !important; /* Override the default background */
    color: black; /* Change text color to ensure visibility */
}

.custom-sider .ant-menu-dark {
    background: white !important; /* Override menu background */
    color: black; /* Change menu item text color */
}

.custom-sider .ant-menu-item:hover {
    background: #f0f0f0;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-layout-sider .ant-layout-sider-trigger{
    background-color: #ae8f3d;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-menu-dark, :where(.css-dev-only-do-not-override-5wsri9).ant-menu-dark>.ant-menu{
    background-color: #ae8f3d;
}